#nav {
    position: absolute;
}

#nav.scroll-up {
    transition: all 0.7s;
    top: 0%;
    position: fixed;
}

#nav.scroll-down {
    position: absolute;
    transition: all 0.7s;
    top: -101%;
}

.navbar-unique {
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 50;
    padding-block: 70px;
    transition: 0.5s;
}

.navbar-unique.sticky {
    background-color: var(--bgnavbar);
    padding-block: 0px;
}

.navbar-unique.active {
    background-color: var(--bgnavbar);
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 4;
}

.navbar-options {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 20px;
    gap: 8px;
}

.navbar-options img {
    margin-right: 12px;
    width: 60px;
    border-radius: 50%;
    transition: 0.3s;
}

.navbar-logo {
    transition: 0.3s;
}

.navbar-logo:hover {
    transform: scale(110%);
}

.navbar-option {
    text-align: center;
    color: var(--txtmain);
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    transition: 0.3s;
}

.navbar-option:hover {
    text-shadow: 0px 0px 6px var(--txtmain);
    transform: scale(110%);
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.7s ease-out;
    z-index: -1;
}

.navbar-menu li {
    display: flex;
    align-items: center;
}

.navbar-menu.active {
    top: 100%;
    transition: all 0.7s ease-out;
    font-size: 1.6rem;
    height: 60vh;
    background: var(--bgnavbar);
    z-index: 99;
}

.navbar-menu.sticky {
    background: var(--bgnavbar);
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

.navbar-item {
    width: 100%;
}

.navbar-links {
    color: var(--txtmain);
    text-align: center;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-links:hover {
    text-shadow: 0px 0px 5px var(--txtmain);
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* RESPONSIVE */

@media screen and (min-width: 375px) {
    .navbar-option {
        font-size: 16px;
    }

    .navbar-options img {
        width: 70px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-options {
        gap: 30px;
    }
    
    .navbar-toggle {
        margin-right: 30px;
    }

    .navbar-options img {
        width: 85px;
    }
}

@media screen and (min-width: 1024px) {
    .container-navbar {
        display: flex;
        flex-direction: row;
        padding-inline: 30px;
    }

    .navbar-options {
        gap: 30px;
    }

    .navbar-option {
        font-size: 22px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: static;
        width: 200px;
        gap: 40px;
        top: 0%;
        transition: all 0.3s ease-out;
        margin: 0;
    }

    .navbar-item {
        font-size: 22px;
        transition: 0.3s;
    }

    .navbar-item:hover {
        transform: scale(110%);
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        background: 0;
    }
}

@media screen and (min-width: 1280px) {
    .navbar-item {
        font-size: 24px;
    }

    .navbar-option {
        font-size: 24px;
    }
}